<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>davy1ex</title>

    <style>
        * {
            background: black;
            color: white;
        }

        .preload  {
            margin: 10% 0;
            text-align: center;
            font: Impact;
            font-size: 2em;
        }
    </style>
</head>
<body>
    {% load static %}
    
    <div class="preload">
        
        <img src="{% static 'portfolio/loading.gif' %}">       <br>
        Coming soon
    </div>
    
    
</body>
</html>