{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/portfolio/index.css' %}">
{% endblock %}

{% block content %}
{% load static %}
    <div class="projects_cell row">
        {% for p in projects %}
            <div class="project col">
                <div class="title">
                    {{ p.title }}
                </div>
                    
                <div class="photo">
                        <img src="{{ p.photo.url }}" alt="">
                </div>

                <div class="text_wrapper">
                    <div class="status">
                            {{ p.status }} 
                    </div>
                        
                    <div class="description">
                        {{ p.description }} 
                    </div>
                </div>
                    
            </div>        
        {% endfor %}
    </div>
    
{% endblock %}