* {
    color: #575757; 
    margin: 0;
    padding: 0;
    
}


a:hover, a:visited {
    color: white;
    text-decoration: none;
}

.col, .row {
    margin: 0px;
}




/* header */
header {
    height: 70px;
    background: black;
}

header a {
    color: white; 
}

header .row {
    line-height: 70px;
}

header .col {
    font-size: 1.3em;
    text-align: center;
}
/* header */



body {
    background: white;
}

html, body {
    height: 100%;
}


@media only screen and (max-width: 600px) {
    .content {
        width: 95%;
        margin: auto;
    }
  }
@media only screen and (min-width: 600px) {
    .content {
        width: 80%;
        margin: auto;
        /* margin-top: 20px; */
    }
}