* {
    color: #575757; 
    margin: 0;
    padding: 0;
}

.col, .row {
    margin: 0px;
}

/* header */
header {
    height: 70px;
    background: black;
}

header a {
    color: white; 
}

header .row {
    line-height: 70px;
}

header .col {
    font-size: 1.3em;
    text-align: center;
}
/* header */



body {
    background: white;

}


.content {
    width: 80%;
    margin: auto;
    padding: 20px;
}