<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
    <title>davy1ex</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="col"><a href="#">WhoAmI</a></div>
            <div class="col"><a href="#">Finished</a></div>
            <div class="col"><a href="#">In developing</a></div>
        </div>
    </header>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>