<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>davy1ex</title>
    <style>
        body {
            background: black;
            color: white;
            font: impact;
        }
        .preload {
            text-align: center;            
            font-size: 1.5em;
        }

    </style>
</head>
<body>
    {% load static %}
    <div class="preload">
        <img src="{% static 'img/loading.gif' %}" alt="">
        <div class="text">
            Coming soon
        </div>
    </div>
    
    
</body>
</html>