<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>davy1ex</title>
    <style>
        body {
            background: black;
            color: white;
            font: impact;
        }
        .preload {
            
            font-size: 1.5em;
        }

        .preload img {
            width: 100%;
        }

        .wrapper {
            margin: auto;
            max-width: 640px;
        }

        .text {
            margin: auto;
            text-align: center;     
        }

    </style>
</head>
<body>
    {% load static %}
    <div class="wrapper">
        <div class="preload">
            <img src="{% static 'img/loading.gif' %}" alt="">
            <div class="text">
                Coming soon
            </div>
        </div>
    </div>
    
    
    
</body>
</html>