<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/crypt.css' %}">
    
</head>
<body>
    
    <div class="wrapper_content">
        
        
        <div class="image">
            <img src="{% static 'img/thanks.gif' %}" alt="haha">
        </div>
        <div class="text">
            Thanks :)
        </div>
    </div>
    
    
</body>
</html>