
.projects_cell  .col{
    margin: 0 10px;
    width: 30%!important;
    margin-top: 10px;
}

.title {
    background: black;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    font-size: 1.2em;
    line-height: 40px;
}

.project .photo {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.project .photo img {    
    width: 100%;
}

.text_wrapper {
    padding: 5px;
}